.home .lazy-text-scroll li {
	position: relative;
}

.home .lazy-text-scroll li:first-of-type {
	transform: translateY(80px);
}

.home .lazy-text-scroll li:nth-of-type(2) {
	margin-left: 20px;
	transform: translateY(70px);
}

.home .lazy-text-scroll li:last-of-type {
	margin-left: -20px;
	transform: translateY(50px);
}

/* Buttons */
.home .announcements {
	overflow: hidden;
}

.home .announcements .slide-up {
	position: relative;
}

.home .announcements .slide-up p {
	opacity: 0;
	transition: opacity .5s ease .1s;
}
