.site-footer {
	background: #820c23;
	bottom: 0;
	color: #fff;
	height: 54px;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.site-footer ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0 30px 0 20px;
}

.site-footer ul li {
	display: inline;
	font-size: .875em;
	margin: 0;
	padding: 0;
}

.site-footer a {
	color: #fff;
	float: left;
	line-height: 54px;
	padding: 0 10px;
}

.site-footer a:hover {
	background-color: #ca1237;
}

@media screen and (min-width: 990px) {

	.site-footer {
		width: calc(100% - 198px);
	}
}

@media screen and (min-width: 1188px) {

	.site-footer {
		width: calc(50% + (1188px / 2) - 198px);
	}
}

@media screen and (max-width: 989px) {

	.admin-bar .site-footer {
		bottom: 32px;
	}
}

@media screen and (max-width: 782px) {

	.admin-bar .site-footer {
		bottom: 46px;
	}
}

[name="google_conversion_frame"] {
	display: none;
}
